body{
  background-color: bisque;
}

header{
  background-color: rgb(235, 183, 121);
  height: 3rem;
  padding-left: 10rem;
}

#all-products {
  display:flex;
}

#product-pics {
display: flex;
align-items: center;
width: 600px;
font-size: 1.5rem;
font-weight: bold;
text-align: center;
}

img {
  height: 20rem;
  width: 20rem;
  border: solid black;
}

#button {
  display: flex;
  align-items: center;
  justify-content: center;
}

